<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<ol class="page-navigator" >
    <th:block >
        <li class="prev"><a  ></a></li>
    </th:block>


    <th:block >
        <li ><a ></a></li>
    </th:block>


    <th:block >
        <li class="next"><a ></a></li>
    </th:block>

</ol>

<div >
    <div class="clearfix">
        <ul class="pagination m-b-5 pull-right">
            <li >
                <a  aria-label="Previous">
                    <i class="fa fa-angle-left"></i>&nbsp;上一页
                </a>
            </li>

            <th:block >
                <li ><a  ></a>
                </li>
            </th:block>

            <th:block>
                <li>
                    <a  aria-label="Next">
                        下一页&nbsp;<i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </th:block>

            <li><span ></span></li>
        </ul>
    </div>
</div>

</body>
</html>